.userPhoto{
    height: 100px;
    width: 100px;
}
span{
    margin-right: 10px;
}
button{
    display: inline-block;
    margin: 10px ;
    width: 100px;
    height: 25px;
    background-color:white;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 600;
    color: black;
}
.selectedPage{
    font-weight: bold;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}