.nav {
  padding-top: 20px;
  grid-area: n;
  text-align: center;
  background-color: rgb(61, 61, 50);
}
.item {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
 .lastItem{
  margin-top: 80px;
}
a{
  color: white;
  text-decoration: none;
}
a.activLink{
  color:red;
}
.panel{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.circle{
width: 40px;
height: 40px;
background-color: red;
border-radius: 50%;
}
.circleActive{
  background-color: yellow;
}
.name{
  display:block;
}