.dialogs{
 display: grid;
 grid-template-columns: 2fr 10fr;
}
.dialogsItem {
padding: 10px;
}
.dialogsItem .item {
    padding-top: 8px;
    
}
.dialogsItem a{
    color: black;
}
.dialogsItem  .active a{
    color: red;
}
.messages{
    padding: 10px;
}
